.timeline {
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}



.seminaire{
  border-left: 5px solid hsl(0, 0%, 90%);
  margin-bottom: 50px;
}

.recap h3{
  font-size: 1.5em;
}
